.git
.gitignore
.env
.env.*
.sixth
ml
backend/data/*.sqlite3
backend/dev-server.*.log
frontend/build
backend/.venv
frontend/node_modules
frontend/build
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/.pytest_cache
**/.DS_Store
